<h1>login</h1>
<form action="/register" method="POST">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <input type="date" name="dob" placeholder="date">
    <input type="number" name="age" placeholder="age">
    <input type="email" name="email" placeholder="email">
    <button>login</button>
</form>
<h1>This is home page</h1> 
<li><a href="/register">Sign up!!</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout</a></li>